---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "M.S. Applied Data Science, Syracuse University",
    description: "I graduated in 2020 with my masters degree of applied data science. In this program I explored machine learning, data visualization, business analytics, data warehousing, and more.",
    icon: "carbon:chart-line-data",
  },
  {
    title: "10 years in publishing",
    description: "I have worked in publishing at IVP for over 10 years. Starting in marketing, I discovered I had technical skills that could serve better in IT.",
    icon: "carbon:notebook",
  },
  {
    title: "Leader of the development team",
    description: "As associate director of IT I establishing and led our development team, including establishing a ticketing system and moving towards industry best practices.",
    icon: "carbon:db2-database",
  },
  {
    title: "Created business insight",
    description: "As the person in charge of developing our internal reporting, I have collaborated closely with teams to refine their questions and create business insights.",
    icon: "carbon:inspection",
  },
  {
    title: "Handled several data migrations",
    description: "I have worked on several data migrations and am proficient in SQL and Python.",
    icon: "carbon:flow-data",
  },
  {
    title: "Open source enthusiast",
    description: "Having worked with nonprofits for years, I am a huge fan of open source projects. I appreciate the accessibility that these projects provide and I try to contribute where I can.",
    icon: "carbon:calibrate",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Who am I?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    I am an IT professional with over 10 years of experience in book publishing. With a background in the humanities 
    and liberal arts, I bring the ability to think critically and communicate effectively, while bridging the gap 
    into the world of technology and science.
  </p>
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
